<a href="https://colab.research.google.com/github/dickyilhami/COVID-19-Indonesia-Case/blob/main/COVID_19_Indonesia_Case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Dataset

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [6]:
df1 = pd.read_csv('https://raw.githubusercontent.com/dickyilhami/COVID-19-Indonesia-Case/main/covid_19_indonesia_time_series_all.csv')

In [7]:
df1

            Date  ... Growth Factor of New Deaths
0       3/1/2020  ...                         NaN
1       3/2/2020  ...                         1.0
2       3/2/2020  ...                         NaN
3       3/2/2020  ...                         NaN
4       3/3/2020  ...                         1.0
...          ...  ...                         ...
21754  12/2/2021  ...                         1.0
21755  12/2/2021  ...                         1.0
21756  12/2/2021  ...                         1.0
21757  12/2/2021  ...                         1.0
21758  12/3/2021  ...                         0.8

[21759 rows x 38 columns]

#Data Preparation

In [8]:
df1 = df1.iloc[:-1 , :]

In [9]:
df1

            Date  ... Growth Factor of New Deaths
0       3/1/2020  ...                         NaN
1       3/2/2020  ...                         1.0
2       3/2/2020  ...                         NaN
3       3/2/2020  ...                         NaN
4       3/3/2020  ...                         1.0
...          ...  ...                         ...
21753  12/2/2021  ...                         1.0
21754  12/2/2021  ...                         1.0
21755  12/2/2021  ...                         1.0
21756  12/2/2021  ...                         1.0
21757  12/2/2021  ...                         1.0

[21758 rows x 38 columns]

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21758 entries, 0 to 21757
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21758 non-null  object
 1   Location ISO Code            21758 non-null  object
 2   Location                     21758 non-null  object
 3   New Cases                    21758 non-null  int64
 4   New Deaths                   21758 non-null  int64
 5   New Recovered                21758 non-null  int64
 6   New Active Cases             21758 non-null  int64
 7   Total Cases                  21758 non-null  int64
 8   Total Deaths                 21758 non-null  int64
 9   Total Recovered              21758 non-null  int64
 10  Total Active Cases           21758 non-null  int64
 11  Location Level               21758 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     21117 non-null  object
 14  Country                      21758 non-null  object
 15  Continent                    21758 non-null  object
 16  Island                       21117 non-null  object
 17  Time Zone                    21117 non-null  object
 18  Special Status               3123 non-null   object
 19  Total Regencies              21758 non-null  int64
 20  Total Cities                 21144 non-null  float64
 21  Total Districts              21758 non-null  int64
 22  Total Urban Villages         21141 non-null  float64
 23  Total Rural Villages         21116 non-null  float64
 24  Area (km2)                   21758 non-null  int64
 25  Population                   21758 non-null  int64
 26  Population Density           21758 non-null  float64
 27  Longitude                    21758 non-null  float64
 28  Latitude                     21758 non-null  float64
 29  New Cases per Million        21758 non-null  float64
 30  Total Cases per Million      21758 non-null  float64
 31  New Deaths per Million       21758 non-null  float64
 32  Total Deaths per Million     21758 non-null  float64
 33  Total Deaths per 100rb       21758 non-null  float64
 34  Case Fatality Rate           21758 non-null  object
 35  Case Recovered Rate          21758 non-null  object
 36  Growth Factor of New Cases   20571 non-null  float64
 37  Growth Factor of New Deaths  19291 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 6.3+ MB

In [11]:
df1['Date'] = pd.to_datetime(df1['Date'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21758 entries, 0 to 21757
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21758 non-null  datetime64[ns]
 1   Location ISO Code            21758 non-null  object
 2   Location                     21758 non-null  object
 3   New Cases                    21758 non-null  int64
 4   New Deaths                   21758 non-null  int64
 5   New Recovered                21758 non-null  int64
 6   New Active Cases             21758 non-null  int64
 7   Total Cases                  21758 non-null  int64
 8   Total Deaths                 21758 non-null  int64
 9   Total Recovered              21758 non-null  int64
 10  Total Active Cases           21758 non-null  int64
 11  Location Level               21758 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     21117 non-null  object
 14  Country                      21758 non-null  object
 15  Continent                    21758 non-null  object
 16  Island                       21117 non-null  object
 17  Time Zone                    21117 non-null  object
 18  Special Status               3123 non-null   object
 19  Total Regencies              21758 non-null  int64
 20  Total Cities                 21144 non-null  float64
 21  Total Districts              21758 non-null  int64
 22  Total Urban Villages         21141 non-null  float64
 23  Total Rural Villages         21116 non-null  float64
 24  Area (km2)                   21758 non-null  int64
 25  Population                   21758 non-null  int64
 26  Population Density           21758 non-null  float64
 27  Longitude                    21758 non-null  float64
 28  Latitude                     21758 non-null  float64
 29  New Cases per Million        21758 non-null  float64
 30  Total Cases per Million      21758 non-null  float64
 31  New Deaths per Million       21758 non-null  float64
 32  Total Deaths per Million     21758 non-null  float64
 33  Total Deaths per 100rb       21758 non-null  float64
 34  Case Fatality Rate           21758 non-null  object
 35  Case Recovered Rate          21758 non-null  object
 36  Growth Factor of New Cases   20571 non-null  float64
 37  Growth Factor of New Deaths  19291 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(12), object(11)
memory usage: 6.3+ MB

#Data Cleaning

In [13]:
df1.isnull().mean()*100

Date                             0.000000
Location ISO Code                0.000000
Location                         0.000000
New Cases                        0.000000
New Deaths                       0.000000
New Recovered                    0.000000
New Active Cases                 0.000000
Total Cases                      0.000000
Total Deaths                     0.000000
Total Recovered                  0.000000
Total Active Cases               0.000000
Location Level                   0.000000
City or Regency                100.000000
Province                         2.946043
Country                          0.000000
Continent                        0.000000
Island                           2.946043
Time Zone                        2.946043
Special Status                  85.646659
Total Regencies                  0.000000
Total Cities                     2.821951
Total Districts                  0.000000
Total Urban Villages             2.835739
Total Rural Villages             2.950639
Area (km2)                       0.000000
Population                       0.000000
Population Density               0.000000
Longitude                        0.000000
Latitude                         0.000000
New Cases per Million            0.000000
Total Cases per Million          0.000000
New Deaths per Million           0.000000
Total Deaths per Million         0.000000
Total Deaths per 100rb           0.000000
Case Fatality Rate               0.000000
Case Recovered Rate              0.000000
Growth Factor of New Cases       5.455465
Growth Factor of New Deaths     11.338358
dtype: float64

In [16]:
df1.isna().mean()*100

Date                             0.000000
Location ISO Code                0.000000
Location                         0.000000
New Cases                        0.000000
New Deaths                       0.000000
New Recovered                    0.000000
New Active Cases                 0.000000
Total Cases                      0.000000
Total Deaths                     0.000000
Total Recovered                  0.000000
Total Active Cases               0.000000
Location Level                   0.000000
City or Regency                100.000000
Province                         2.946043
Country                          0.000000
Continent                        0.000000
Island                           2.946043
Time Zone                        2.946043
Special Status                  85.646659
Total Regencies                  0.000000
Total Cities                     2.821951
Total Districts                  0.000000
Total Urban Villages             2.835739
Total Rural Villages             2.950639
Area (km2)                       0.000000
Population                       0.000000
Population Density               0.000000
Longitude                        0.000000
Latitude                         0.000000
New Cases per Million            0.000000
Total Cases per Million          0.000000
New Deaths per Million           0.000000
Total Deaths per Million         0.000000
Total Deaths per 100rb           0.000000
Case Fatality Rate               0.000000
Case Recovered Rate              0.000000
Growth Factor of New Cases       5.455465
Growth Factor of New Deaths     11.338358
dtype: float64

In [17]:
df1 = df1.drop('City or Regency',axis=1)
df1

In [20]:
df1['Special Status'].value_counts()

Daerah Khusus             1854
Daerah Khusus Ibu Kota     642
Daerah Istimewa            627
Name: Special Status, dtype: int64

In [21]:
df1 = df1.drop('Special Status',axis=1)
df1

            Date  ... Growth Factor of New Deaths
0     2020-03-01  ...                         NaN
1     2020-03-02  ...                         1.0
2     2020-03-02  ...                         NaN
3     2020-03-02  ...                         NaN
4     2020-03-03  ...                         1.0
...          ...  ...                         ...
21753 2021-12-02  ...                         1.0
21754 2021-12-02  ...                         1.0
21755 2021-12-02  ...                         1.0
21756 2021-12-02  ...                         1.0
21757 2021-12-02  ...                         1.0

[21758 rows x 36 columns]

In [22]:
df1['Growth Factor of New Cases'].head()

0    NaN
1    1.0
2    NaN
3    NaN
4    1.0
Name: Growth Factor of New Cases, dtype: float64

In [23]:
df1['Growth Factor of New Deaths'].head()

0    NaN
1    1.0
2    NaN
3    NaN
4    1.0
Name: Growth Factor of New Deaths, dtype: float64

In [24]:
df1['Growth Factor of New Cases'] = df1['Growth Factor of New Cases'].fillna(float(0))
df1['Growth Factor of New Deaths'] = df1['Growth Factor of New Deaths'].fillna(float(0))

In [27]:
df1[['Province','Island','Time Zone']].head()

      Province    Island  Time Zone
0  DKI Jakarta      Jawa  UTC+07:00
1  DKI Jakarta      Jawa  UTC+07:00
2          NaN       NaN        NaN
3         Riau  Sumatera  UTC+07:00
4  DKI Jakarta      Jawa  UTC+07:00

In [28]:
df1[['Province','Island','Time Zone']] = df1[['Province','Island','Time Zone']].fillna('Unknown')

In [30]:
df1['Total Rural Villages'] = df1['Total Rural Villages'].fillna(float(0))

In [31]:
df1['Total Urban Villages'] = df1['Total Urban Villages'].fillna(float(0))

In [32]:
df1['Total Cities'] = df1['Total Cities'].fillna(float(0))

In [33]:
df1

            Date  ... Growth Factor of New Deaths
0     2020-03-01  ...                         0.0
1     2020-03-02  ...                         1.0
2     2020-03-02  ...                         0.0
3     2020-03-02  ...                         0.0
4     2020-03-03  ...                         1.0
...          ...  ...                         ...
21753 2021-12-02  ...                         1.0
21754 2021-12-02  ...                         1.0
21755 2021-12-02  ...                         1.0
21756 2021-12-02  ...                         1.0
21757 2021-12-02  ...                         1.0

[21758 rows x 36 columns]

In [35]:
df1.isna().mean()*100

Date                           0.0
Location ISO Code              0.0
Location                       0.0
New Cases                      0.0
New Deaths                     0.0
New Recovered                  0.0
New Active Cases               0.0
Total Cases                    0.0
Total Deaths                   0.0
Total Recovered                0.0
Total Active Cases             0.0
Location Level                 0.0
Province                       0.0
Country                        0.0
Continent                      0.0
Island                         0.0
Time Zone                      0.0
Total Regencies                0.0
Total Cities                   0.0
Total Districts                0.0
Total Urban Villages           0.0
Total Rural Villages           0.0
Area (km2)                     0.0
Population                     0.0
Population Density             0.0
Longitude                      0.0
Latitude                       0.0
New Cases per Million          0.0
Total Cases per Million        0.0
New Deaths per Million         0.0
Total Deaths per Million       0.0
Total Deaths per 100rb         0.0
Case Fatality Rate             0.0
Case Recovered Rate            0.0
Growth Factor of New Cases     0.0
Growth Factor of New Deaths    0.0
dtype: float64

#Export Data to excel

#Visualization

For visualization data COVID-19 Indonesian Case, I use Google Data Studio for display a visualization data.

Link Google Data Studio